<div layout="column" layout-fill layout-align="top center">
    <p>
       7inLatino 4.0
    </p>
    <p>
        l'app che salva il culo a migliaia di studenti ogni anno dal 2010, si evolve alla versione 4.0
        Da oggi sarà disponibile del tutto gratuitamente!</p>
    <p>
        Utilizza il menu di sinistra per accedere alle varie sezioni.
    </p>
        <md-button ng-click="toggleLeft()"
                   ng-hide="isOpenLeftMenu()"
                   class="md-primary">
            Apri menu
        </md-button>
    </div>
</div>